
<div class="well">
<h3>News</h3>

<div style="margin-top: 20px"></div>


{% for article in site.data.news limit:5 %}
<span style="font-size: 23px;">&#8226;</span> &nbsp; <strong style="font-size: 18px;">{{ article.date }}</strong><br>{{ article.headline | markdownify}}
{% endfor %}


<!--<p  style="text-align: justify"></p>-->


<h4><a href="{{ site.url }}{{ site.baseurl }}/news">... see all News</a></h4>

  
<div style="margin-top: 22px"></div>
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=b6e0dd&w=240&t=n&d=HHR0os3rRmH5M4XiHNDaDvtIJdBCADmPgZtg5l8aZEk&co=fafafa&cmn=fca747&cmo=bca8f9&ct=00d6b9'></script>

  

</div>
